**/archive
**/plots
**/data
**/dev
**/.DS_Store
**/results
functions/archive
classes/Targets/archive
scenarios/archive
videos
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
*.bbl
*.png
*bcf
*.blg
*.xml