**/archive
**/claude_scratch
**/plots
**/data
**/dev
**/.DS_Store
**/results
*.csv
functions/archive
classes/Targets/archive
scenarios/archive
videos
*.aux
*.acn
*.glo
*.glsdefs
*.ist
*.lof
*.bst
*.eps
*.lot
*.toc
*.out
documentation/literature_review/chapters/*
template.tex
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
*.bbl
*bcf
*.blg
*.xml
